# 设置部分

In [30]:
#显示所有行和列
pd.set_option('display.max_columns', None)  # 显示所有列
pd.set_option('display.max_rows', None)     # 显示所有行

In [33]:
#重置显示最大行列数设置
pd.reset_option('max_columns')
pd.reset_option('max_rows')

# 代码部分

In [34]:
import pandas as pd
import os

In [35]:
file = 'MarketData_Year_2023/所内合约行情报表2023.11.xls'
all_contract_df = pd.DataFrame()
all_contract_df = pd.read_excel(file, header=1, usecols=range(0,14), skiprows=2, skipfooter=5)

In [36]:
all_contract_df['Contract'] = all_contract_df['Contract'].ffill()

In [40]:
au_df = all_contract_df[all_contract_df['Contract'].str.startswith('au')]

In [41]:
au_df

,Contract,Date,pre close,Pre settle,Open,High,Low,Close,Settle,ch1,ch2,Volume,Amount,OI
13752,au2311,20231101,476.28,477.08,476.00,476.00,473.30,473.30,474.64,-3.78,-2.44,6,284.790,12
13753,au2311,20231102,473.30,474.64,NaN,NaN,NaN,474.64,474.64,0.00,0.00,0,0.000,12
13754,au2311,20231103,474.64,474.64,NaN,NaN,NaN,474.64,474.64,0.00,0.00,0,0.000,12
13755,au2311,20231106,474.64,474.64,NaN,NaN,NaN,474.64,474.64,0.00,0.00,0,0.000,12
13756,au2311,20231107,474.64,474.64,474.00,474.00,474.00,474.00,474.00,-0.64,-0.64,3,142.200,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17913,au2408P520,20231124,54.38,54.38,NaN,NaN,NaN,55.18,55.18,0.80,0.80,0,0.000,0
17914,au2408P520,20231127,55.18,55.18,53.58,53.58,53.58,53.58,52.42,-1.60,-2.76,1,5.358,1
17915,au2408P520,20231128,53.58,52.42,NaN,NaN,NaN,49.98,49.98,-2.44,-2.44,0,0.000,1
17916,au2408P520,20231129,49.98,49.98,NaN,NaN,NaN,47.16,47.16,-2.82,-2.82,0,0.000,1
17917,au2408P520,20231130,47.16,47.16,46.98,47.02,46.74,46.98,46.14,-0.18,-1.02,8,37.528,6

In [39]:
all_contract_df

,Contract,Date,pre close,Pre settle,Open,High,Low,Close,Settle,ch1,ch2,Volume,Amount,OI
0,ag2311,20231101,5881.0,5881.0,5842.0,5876.0,5754.0,5759.0,5787.0,-122.0,-94.0,624,5417.205,10768
1,ag2311,20231102,5759.0,5787.0,5785.0,5825.0,5760.0,5820.0,5809.0,33.0,22.0,620,5402.961,10982
2,ag2311,20231103,5820.0,5809.0,5821.0,5825.0,5785.0,5798.0,5799.0,-11.0,-10.0,356,3097.188,10890
3,ag2311,20231106,5798.0,5799.0,5854.0,5896.0,5836.0,5853.0,5865.0,54.0,66.0,1232,10839.528,10890
4,ag2311,20231107,5853.0,5865.0,5850.0,5854.0,5802.0,5808.0,5826.0,-57.0,-39.0,400,3495.879,10772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41576,zn2403P23200,20231124,2392.0,2392.0,NaN,NaN,NaN,2292.0,2292.0,-100.0,-100.0,0,0.000,0
41577,zn2403P23200,20231127,2292.0,2292.0,NaN,NaN,NaN,2177.0,2177.0,-115.0,-115.0,0,0.000,0
41578,zn2403P23200,20231128,2177.0,2177.0,NaN,NaN,NaN,2165.0,2165.0,-12.0,-12.0,0,0.000,0
41579,zn2403P23200,20231129,2165.0,2165.0,NaN,NaN,NaN,2235.0,2235.0,70.0,70.0,0,0.000,0
41580,zn2403P23200,20231130,2235.0,2235.0,NaN,NaN,NaN,2478.0,2478.0,243.0,243.0,0,0.000,0