# 设置部分

In [59]:
import pandas as pd
import os

In [87]:
#显示所有行和列
pd.set_option('display.max_columns', None)  # 显示所有列
pd.set_option('display.max_rows', None)     # 显示所有行

In [61]:
#重置显示最大行列数设置
pd.reset_option('max_columns')
pd.reset_option('max_rows')

# 代码部分

## 1 excel数据读取

### 1.1 全部数据读取

In [62]:
market_data_directory = 'MarketData_Year_2023'
file_list = [f for f in os.listdir(
    market_data_directory) if f.endswith('.xls')]

all_contracts_df = pd.DataFrame()

for file in file_list:
    file_path = os.path.join(market_data_directory, file)
    df = pd.read_excel(file_path, header=1, usecols=range(0, 14), skiprows=2, skipfooter=5)
    all_contracts_df = pd.concat([all_contracts_df, df])

In [63]:
all_contracts_df['Contract'] = all_contracts_df['Contract'].ffill()

In [64]:
all_contracts_df

,Contract,Date,pre close,Pre settle,Open,High,Low,Close,Settle,ch1,ch2,Volume,Amount,OI
0,ag2301,20230103,5360.0,5312.0,5364.0,5402.0,5306.0,5390.0,5352.0,78.0,40.0,1164,9345.639,11128
1,ag2301,20230104,5390.0,5352.0,5369.0,5401.0,5311.0,5336.0,5340.0,-16.0,-12.0,1068,8556.012,10580
2,ag2301,20230105,5336.0,5340.0,5348.0,5372.0,5205.0,5205.0,5298.0,-135.0,-42.0,3178,25258.749,9046
3,ag2301,20230106,5205.0,5298.0,5184.0,5201.0,5125.0,5153.0,5147.0,-145.0,-151.0,2530,19533.804,8352
4,ag2301,20230109,5153.0,5147.0,5154.0,5264.0,5148.0,5248.0,5224.0,101.0,77.0,740,5799.165,7968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40851,zn2401P23200,20230928,2093.0,2093.0,NaN,NaN,NaN,2117.0,2117.0,24.0,24.0,0,0.000,0
40852,zn2401P23400,20230928,2260.0,2260.0,NaN,NaN,NaN,2288.0,2288.0,28.0,28.0,0,0.000,0
40853,zn2401P23600,20230928,2433.0,2433.0,NaN,NaN,NaN,2462.0,2462.0,29.0,29.0,0,0.000,0
40854,zn2401P23800,20230928,2609.0,2609.0,NaN,NaN,NaN,2640.0,2640.0,31.0,31.0,0,0.000,0
40855,zn2401P24000,20230928,2787.0,2787.0,NaN,NaN,NaN,2822.0,2822.0,35.0,35.0,0,0.000,0

### 1.2 au数据提取

In [65]:
au_contracts_df = all_contracts_df[all_contracts_df['Contract'].str.startswith('au')]
au_contracts_df = au_contracts_df[~au_contracts_df['Contract'].str.contains(r'C|P', regex=True)]
au_contracts_df = au_contracts_df.sort_values(by='Contract')
au_contracts_df = au_contracts_df.reset_index(drop=True)

In [66]:
au_contracts_df

,Contract,Date,pre close,Pre settle,Open,High,Low,Close,Settle,ch1,ch2,Volume,Amount,OI
0,au2301,20230103,409.42,409.04,413.00,413.00,413.00,413.00,413.00,3.96,3.96,3,123.900,36
1,au2301,20230104,413.00,413.00,403.88,411.74,403.88,411.40,408.46,-1.60,-4.54,54,2205.726,15
2,au2301,20230105,411.40,408.46,412.00,412.00,412.00,412.00,412.00,3.54,3.54,3,123.600,18
3,au2301,20230106,412.00,412.00,409.00,409.00,409.00,409.00,409.00,-3.00,-3.00,3,122.700,21
4,au2301,20230109,409.00,409.00,NaN,NaN,NaN,411.30,411.30,2.30,2.30,0,0.000,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1763,au2412,20231127,469.80,469.30,470.28,475.00,470.08,474.06,472.14,4.76,2.84,320,15109.090,694
1764,au2412,20231128,474.06,472.14,475.00,475.46,473.64,475.10,474.80,2.96,2.66,442,20986.616,790
1765,au2412,20231130,478.86,478.36,479.04,480.00,478.22,479.10,479.32,0.74,0.96,311,14907.178,1105
1766,au2412,20231116,475.44,475.44,475.44,476.98,474.80,475.06,475.70,-0.38,0.26,35,1664.952,14
1767,au2412,20231129,475.10,474.80,475.22,480.00,474.88,478.86,478.36,4.06,3.56,508,24301.346,1029

In [67]:
au_contracts_se = au_contracts_df['Contract'].value_counts()
au_contracts_se

Contract
au2312    221
au2402    211
au2310    188
au2404    174
au2308    150
au2406    135
au2306    109
au2408     92
au2304     69
au2309     64
au2311     60
au2307     60
au2305     59
au2410     48
au2303     47
au2401     33
au2302     27
au2412     11
au2301     10
Name: count, dtype: int64

## 2 数据处理

### 读取合约

In [68]:
contract = 'au2312'
contract_df = au_contracts_df[au_contracts_df['Contract'] == contract]
contract_df.set_index('Date', inplace=True)
contract_df = contract_df.sort_index()

### 计算MID

In [69]:
contract_df.loc[:, 'MID'] = (contract_df['Open'] + contract_df['High'] + contract_df['Low'] + 3*contract_df['Close']) / 6

### 计算DKX

In [92]:
dkx = contract_df['MID'] * 20
for i in range(1, 20):
    # print(contract_df['MID'].shift(i).head(21))
    dkx = dkx + contract_df['MID'].shift(i) * (20 - i)
dkx = dkx / 210
contract_df['DKX'] = dkx

In [ ]:
contract_df